@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));


/* Dark mode scrollbar */



@layer utilities {

  /* Custom Scrollbar Styles */
  .scrollbar-dark {
    scrollbar-width: thin;
    scrollbar-color: #2d2d2d #1e1e1e;
  }

  .scrollbar-dark::-webkit-scrollbar {
    width: 5px;
  }
  
  .scrollbar-dark::-webkit-scrollbar-track {
    background: #1e1e1e;
    border-radius: 10px;
  }
  
  .scrollbar-dark::-webkit-scrollbar-thumb {
    background: #2d2d2d;
    border-radius: 10px;
  }
  
  .scrollbar-dark::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  

  
  .scrollbar-light {
    scrollbar-width: thin;
    scrollbar-color: #2d2d2d #121212;
  }

  .scrollbar-light::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-light::-webkit-scrollbar-track {
    background: #121212;
    border-radius: 10px;
  }

  .scrollbar-light::-webkit-scrollbar-thumb {
    background: #2d2d2d;
    border-radius: 10px;
  }

  .scrollbar-light::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}